<%= turbo_frame_tag zone do %>
  <div class="zone">
    <%= turbo_frame_tag dom_id(zone, :edit) do %>
    <div class="zone__header">
      <h2 class="zone__title">
        <%= link_to zone.name, zone_path(zone), data: { turbo_frame: '_top' } %>
      </h2>

      <div class="zone__actions">
        <%= button_to zone_path(zone), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn--light" do %>
          <i class="bi bi-trash"></i>
        <% end %>
        <%= link_to edit_zone_path(zone), class: "btn btn--light" do %>
          <i class="bi bi-pencil-square"></i>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="zone__body">
      <div class="row">
        <div class="col">Codigo</div>
        <div class="col">No. de fincas</div>
        <div class="col">Lotes</div>
        <div class="col">Microlotes</div>
      </div>
      <div class="row">
        <div class="col"><%= zone.code %></div>
        <div class="col"><%= zone.farms.count %></div>
        <div class="col">356</div>
        <div class="col">3860</div>
      </div>
    </div>
  </div>
<% end %>
